# Android Studio / IntelliJ
/.idea/
/.gradle/
/local.properties
*.iml
/build/
/captures/
/.externalNativeBuild/
/cxx/
**/google-services.json
# MacOS- ja Windows-spesifiset tiedostot
.DS_Store
Thumbs.db
